.btn-notifications {
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
  color: #555;
}

/* .badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid #2d3748; /* Borde del color del fondo para crear separación */
 
/* Ajustamos el tamaño del ícono directamente en el SVG dentro del botón */
.btn-notifications svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}
